@media (max-width: 768px) { 

.fc-button-group{
    height: 100%;
}

.fc-header-toolbar :nth-child(3) .fc-button-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fc-dayGridMonth-button, .fc-listMonth-button, .fc-multiMonthYear-button{
    line-height: 1.2 !important;
    font-size: 0.5 em !important;
    border-radius: 10px !important;
    height: 30px !important;
}

}
.fc-dayGridMonth-button, .fc-listMonth-button, .fc-multiMonthYear-button{
font-weight: 700 !important;
}
.fc-listMonth-button{
    background-color: #7EAF57 !important;
    border-color: #7EAF57 !important;
    color: #488518 !important;
}
.fc-toolbar-chunk:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fc-toolbar-chunk:nth-child(1) > button{
    margin: 0 !important;
}
.fc-toolbar-chunk:nth-child(2){
    display: flex;
}
.fc-toolbar-chunk:nth-child(2) > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fc-toolbar-chunk:nth-child(2) > div > * {
    margin-left: 0.5rem;
}
.fc-mediterButton-button{
    background-color: #fed7aa !important;
    border-color: #fed7aa !important;
}
.fc-oceanicButton-button{
    background-color: #60a5fa !important;
    border-color: #60a5fa !important;
}
.fc-halfOceanicButton-button{
    background-color: #a5f3fc !important;
    border-color: #a5f3fc !important;
}
.fc-continentButton-button{
    background-color: #6ee7b7 !important;
    border-color: #6ee7b7 !important;
}
.fc-mountainButton-button{
    background-color: #a8a29e !important;
    border-color: #a8a29e !important;
}
.fc-toolbar-chunk:nth-child(2) > div > button {
    height: fit-content;
}
.fc-toolbar-chunk:nth-child(2) > div > h2 {
    font-size: medium;
}
.fc-toolbar-chunk:nth-child(3) > button {
    height: fit-content;
}
.fc-header-toolbar{
    display: grid !important;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
}
.fc-toolbar-chunk:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: span 1;
    grid-row-end: 4;
}
.fc-toolbar-chunk:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 7;
}
.fc-toolbar-chunk:nth-child(3){
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}
.fc-toolbar-title{
    font-weight: 800;
    margin-top: 0.5rem !important;
}
@media screen and (max-width: 640px) {
    .menu__toggle{
        margin-top: -5%;
    }
    .fc-header-toolbar{
        margin-top: -15%;
    }
    .fc-header-toolbar :nth-child(3) .fc-button-group {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    }
    .fc-toolbar-chunk:nth-child(2) > div > button {
        height: fit-content;
    }
    .fc-toolbar-chunk:nth-child(2) > div > h2 {
        font-size: medium;
    }

    .fc-toolbar-chunk:nth-child(3) > button {
        height: fit-content;
    }
    .fc-toolbar-chunk:nth-child(3) > .fc-button-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fc-header-toolbar{
        margin-bottom: -1rem !important;
    }
}