@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'map.css';
@import 'wizardStepper.css';
@import 'calendar.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
  font-family: 'Inter', sans-serif;
}
aside > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
aside > div > a > img{
  width: 4rem !important;
  height: 4rem !important;
}
@media screen and (max-width: 1024px) {
  .flowbite-sidebar-item > svg{
    width: 2.5rem;
    height: 2.5rem;
  }
}
.fc-menuOptions-button{
  position: relative;
  color: white !important;
  background-color: #1d4ed8 !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
  font-size: large !important;
  padding: 0.5rem !important;
  text-align: center !important;
  display: inline-flex !important;
  align-items: center !important;
  border-color: #1d4ed8 !important;
}
.fc-menuOptions-button:hover{
  background-color: #1e40af !important;
}

/* OVERFLOW FINDING */
/* * {
    outline: 1px solid #f00 !important;
  } */
